body {
    font-family: Arial, sans-serif;
    background-color: #e5f31f;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e5f31f;
    border-radius: 5px;
    text-align: center;
}

.welcome-message {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#fetchUser {
    font-size: 18px;
    padding: 15px 30px;
    margin: 10px;
    color: white;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); /* Rainbow gradient */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

#fetchUser:hover {
    transform: scale(1.05);
}

#fetchUser::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(60deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1), transparent);
    transform: translateX(-100%) skewX(-15deg);
    transition: transform 0.5s ease;
}

#fetchUser:hover::before {
    transform: translateX(300%) skewX(-15deg);
}

#nuevaTareaInput, #agregarBtn {
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    width: 70%;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}